{% extends "base.html" %}
{%block content%}
{%if form.errors%}
<p>Your username and password didn't match. Please try again.</p>
{%endif%}

    {%if user.is_authenticated%}
        <h2 style="padding:10px ;">Welcome {{user.username}}</h2>
    {%else%}
    
        <form method="POST" action="{% url 'login' %}">
            <div class="container" style="border: 5px solid cornflowerblue; padding: 8px;width: 50%;">
            {%csrf_token%}
            {% for field in form %}
            <div class="mb-3">
                {{field.label_tag}}
                {{field}}
            </div>
                

            {%endfor%}

        <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    
    {%endif%}

<br><br>
    <div class="container" style="border: 5px solid rgb(237, 100, 107); padding: 8px; width: fit-content;">
        <form method="post" action="{% url 'logout' %}?next=/"> {% csrf_token %} <button type="submit" style="color: darkgoldenrod; background-color: darkviolet;">Logout</button> </form>
    </div>
{%endblock%}
 